<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bíblia Sagrada</title>
    <script src="./node_modules/jsonata/jsonata.js" charset="utf-8"></script>
    <script src="./node_modules/vue/dist/vue.js" charset="utf-8"></script>
    <script src="./node_modules/vue-resource/dist/vue-resource.js" charset="utf-8"></script>
</head>

<body>
    <h1>Bíblia Sagrada</h1>

    <div id="app">
        <div v-if="control.showBackButton">
            <a href="#" v-on:click.prevent="goToListBook">Voltar</a>
        </div>

        <ul v-if=control.showListBook>
            <li v-for="(book, index) in books">
                <a href="#" v-on:click.prevent="getBook(index)">{{book.book}}</a>
            </li>
        </ul>

        <div v-if="control.showChapterNumbers">
            <h2>{{control.selectedBook.title}}</h2>
            <p>
                <a href="#" v-for="chapterNum in book.chapterNumbers" style="margin: 0 2px" v-on:click.prevent="getText(control.selectedBook.index, chapterNum)">
                    <span v-if="control.boldChapter == parseInt(chapterNum)"><strong>{{chapterNum}}</strong></span>
                    <span v-else><span>{{chapterNum}}</span></span>
                </a>
            </p>
        </div>

        <div v-if="control.showChapterVerses">
            <p v-for="(verse, index) in book.chapterVerses">{{index}}. {{verse}}</p>
        </div>
    </div>
</body>

<script src="./app.js" charset="utf-8"></script>

</html>
